/*Separate CSS Datei erstellt, zur besseren Übersicht*/



/*Anpassung des Bodys; Padding-inline-start/end verwendet (Logical Properties), damit es auch bei 'rtl' richtig dargestellt wird*/
body {
    background-color: #8abfd2e0;
    padding-top: 90px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

p#errorText {
    color: red;
    text-align: end;
}




/*Anpassung des Headers (Navbar)*/
.bg-body-tertiary {
    background-color: #0e4569 !important;
}

header nav div a.navbar-brand { 
    --bs-navbar-brand-color: #fff; 
    --bs-navbar-brand-hover-color: #fff; 
    font-size: 25px; 
}

.nav-link.active { 
    color: #fff !important; 
}

.nav-link { 
    color: #fff; 
    font-size: 20px; 
    --bs-navbar-active-color: #5ad0f8; 
    --bs-navbar-hover-color: #5ad0f8; 
}

.nav-link:hover { 
    color: #5ad0f8; 
}

.nav-item { 
    padding: 15px; 
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

.navbar-toggler { 
    border: 2px solid; 
    color: #fff; 
}

.btn-outline-light { 
    border: 2px solid; 
    --bs-btn-hover-color: #0e4569;
}

.dropdown-menu { 
    background-color: #0e4569; 
    --bs-dropdown-link-color: #fff; 
    --bs-dropdown-link-hover-color: #0e4569; 
    --bs-dropdown-border-color: #fff; 
    --bs-dropdown-divider-bg: #fff; 
}

.btn-outline-success { 
    --bs-btn-color: #fff; 
    --bs-btn-border-color: #fff; 
    --bs-btn-hover-color: #fff; 
    --bs-btn-hover-bg: #5ad0f8; 
    --bs-btn-hover-border-color: #5ad0f8; 
    --bs-btn-active-bg: #5ad0f8; 
    --bs-btn-active-border-color: #5ad0f8; 
    --bs-btn-disabled-color: #5ad0f8; 
    --bs-btn-disabled-border-color: #5ad0f8; }



/*Anpassung des Main-Bereichs + Tabelle*/    

main div.table-responsive.container-fluid {
    overflow-x: scroll; 
    width: 80%;
}

p {
    color:#0e4569;
}

.table-dark {
    --bs-table-bg: #0e4569;
    --bs-table-border-color: #5ad0f8;  
    text-align: center;
    
}

.table {
    --bs-table-color: #0e4569;
    text-align: center;
    border: 8px double #0e4569;
   }


.arrow-icon {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-arrow-down-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/></svg>');
    width: 20px;
    height: 20px;
    display: inline-block; 
    vertical-align: middle;
    background-color: #0e4569;
    border-color: #fff;
    border-radius: 3px;
}

select#filter1 {
    width: 80px;
    border-color: #fff;
    color:#fff;
    background-color: #0e4569;
    vertical-align: middle;
    border-radius: 5px;
    
}
select#filter2{
    width: 140px;
    border-color: #fff;
    color:#fff;
    background-color: #0e4569;
    vertical-align: middle;
    border-radius: 5px;
}
select#filter3 {
    width: 140px;
    border-color: #fff;
    color:#fff;
    background-color: #0e4569;
    vertical-align: middle;
    border-radius: 5px;
}
   





/*Anpassung des Footers*/
footer {
    text-align: center; 
    background-color: #0e4569;
}

.card.text-bg-primary { 
    display: list-item !important; 
    background-color: #0e4569 !important;
}

footer div a.nav-item { 
    text-decoration: none; 
    color: #fff; 
    font-size: 20px; 
    padding-top: 0%; 
    padding-bottom: 0px;
} 

footer div.card-header { 
    font-size: 15px;
}







/*Media Query (max. 400px) für bessere Responsive Darstellung auf kleineren Handys*/
@media screen and (max-width: 400px) {
    .navbar.navbar-expand-lg.bg-body-tertiary { overflow: scroll; }
    .nav-link { font-size: 15px; }
    .dropdown-item { font-size: 15px; }
    header nav div a.navbar-brand { display: none; }
    footer { overflow:scroll; }
    footer div a.nav-item { font-size: small; }
    footer div.card-header { font-size: smaller; }
    p#errorText { display:none;}

}   

/*Media Query (max. 250px) für bessere Responsive Darstellung auf noch kleineren Displays*/
@media screen and (max-width: 250px) {
    main div section {overflow:scroll;}
    footer { display:none; }
    .form-control.me-2 { display: none; }
    .btn.btn-outline-success { display: none; }
}

